/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #093504;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 15px; /* Bordes circulares */
    background-color: #4CAF50; /* Color verde */
    color: #fff; /* Texto blanco */
    display: inline-block;
    transition: background-color 0.3s ease; /* Transición de color al pasar el mouse */
}

nav ul li a:hover {
    background-color: #45a049; /* Cambiar color al pasar el mouse */
}

/* Estilos para el contenido */
#contenido {
    padding: 20px;
}

/* Estilos para los botones */
button {
    border: none;
    border-radius: 15px; /* Bordes circulares */
    background-color: #4CAF50; /* Color verde */
    color: #fff; /* Texto blanco */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición de color al pasar el mouse */
}

button:hover {
    background-color: #45a049; /* Cambiar color al pasar el mouse */
}

/* Estilos para el footer */
footer {
    background-color: #093504;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}